<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryManager.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">InventoryManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <select id="InventoryDropDownList" class="btn dropdown-toggle" style="max-width:120px" onchange="NavbarLink(this.value)" onfocus=" this.selectedIndex=-1;">
                                <option value="Items">Items</option>
                                <option value="#">Item Groups</option>
                                <option value="#">Inventory Adjustments</option>
                            </select>
                        </li>
                        <li>
                            <select id="SalesDropDownList" class="btn dropdown-toggle" style="max-width:130px" onchange="FilterCategory(this.value)">
                                <option value="">Customers</option>
                                <option value="">Orders</option>
                                <option value="">Packages</option>
                                <option value="">Shipments</option>
                                <option value="">Invoices</option>
                                <option value="">Payments Recieved</option>
                                <option value="">Sales Returns</option>
                                <option value="">Credit Notes</option>
                            </select>
                        </li>
                        <li>
                            <select id="PurchasesDownList1" class="btn dropdown-toggle" style="max-width:120px" onchange="FilterCategory(this.value)">
                                <option value="">Vendors</option>
                                <option value="">Expenses</option>
                                <option value="">Purchase Orders</option>
                                <option value="">Purchase Recieves</option>
                                <option value="">Bills</option>
                                <option value="">Payments Made</option>
                                <option value="">Vendor Credits</option>
                            </select>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - InventoryManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
